* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0%;
}

body,
html {
  background-color: #000;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}
